game/dota_addons/trails/network_measurement.txt
game/dota_addons/trails/models/*
game/dota_addons/trails/materials/*
game/dota_addons/trails/particles/*
game/dota_addons/trails/resource/addon_english.txt
game/dota_addons/trails/resource/tooltips/generated_tooltips.txt
game/dota_addons/trails/resource/overviews/*
game/dota_addons/trails/resource/images/*
game/dota_addons/trails/soundevents/*
game/dota_addons/trails/sounds/*
game/dota_addons/trails/maps/*
game/dota_addons/trails/tools_asset_info.bin
game/dota_addons/trails/tools_thumbnail_cache.bin
game/dota_addons/trails/panorama_debugger.cfg
game/dota_addons/trails/scripts/npc/npc_heroes_custom.txt
game/dota_addons/trails/scripts/npc/npc_abilities_custom.txt
game/dota_addons/trails/scripts/npc/npc_items_custom.txt
game/dota_addons/trails/scripts/npc/items/generated_items.txt
game/dota_addons/trails/panorama/*

game/dota_addons/trails/scripts/shops.txt
game/dota_addons/trails/scripts/vscripts/npc_units.txt

media/*
todo.txt
feedback.txt