.ActionBarContainer
{
	width: 100%;
	/*height: 100%;*/
	position: 25% -0% 0px;
	flow-children: down;
	horizontal-align: left;
	vertical-align: bottom;
}

.AbilityOverlayRoot
{
	horizontal-align: left;
	flow-children: right;
}

#MainBarContainer
{
	horizontal-align: center;
	flow-children: right;
}

#ability_list
{
	flow-children: right;
	border: 2px solid black;
	background-color: #272823;
}

.AbilityPanel
{
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.AbilityPanel.EnhancedAvailable {
	box-shadow: fill #ff9180 -1px -1px 8px 3px;
	/*box-shadow: fill #FF6243 -3px -3px 12px 8px;*/
	/*border-radius: 4px;	*/
	/*border: 1px solid #FF6243;*/
}

.AbilityPanel.no_ability
{
	visibility: collapse;
}

#HeroPortraitWindow
{
	border: 1px solid black;
    background-color: #c4a529;
	width: 140px;
	height: 96px;
	visibility: visible;
}

#LevelUpButton:hover
{
    background-color: #9e8b2c;
}

#HeroPortrait
{
	width: 100%;
	height: 72px;
	/*border: 2px solid black;*/
	margin: 1px;
	background-size: 100% 100%;
	horizontal-align: center;
	vertical-align: bottom;
}

#LevelUpButton:hover #LevelUpButtonInset
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.2, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.8, #c4a529 ), to( #ffffff ) );
}

#HeroPortraitName
{
	height: 20px;
	width: 100%;
	text-transform: uppercase;
	text-shadow: 0px 1px 3px 0.5 #000000;
	text-align: center;
	color: black;
	vertical-align: top;
	horizontal-align: center;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.9, #c4a529 ), to( #ffffff ) );
}

#ButtonAndLevel
{
	flow-children: down;
}

#AbilityButton
{
	width: 80px;
	height: 80px;
	border: 2px solid transparent;
}

.is_passive #AbilityButton
{
	border: 2px solid #00000000;
}

#UpgradeBorder
{
	background-color: transparent;
}

.learnable_ability #UpgradeBorder
{
   background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.9, #c4a529 ), to( #ffffff ) );
}

#AbilityButton:hover
{
	border: 2px solid white;
}

#AbilityButton:active
{
	border: 4px solid white;
}

.no_level DOTAAbilityImage
{
	saturation: 0;
	wash-color: #303030;
}

.insufficient_mana DOTAAbilityImage
{
	saturation: 0;
	wash-color: #1569be;
}

.potential_upgrade.no_level DOTAAbilityImage
{
	saturation: 1;
	wash-color: white;
}

#AbilityStatusBorder
{
	border: 2px solid transparent;
}

.auto_cast_enabled #AbilityStatusBorder
{
	border: 4px solid orange;
}

.toggle_enabled #AbilityStatusBorder
{
	border: 4px solid green;
}

#AbilityLevelContainer
{
	horizontal-align: center;
	flow-children: right;
}

.LevelPanel
{
	width: 12px;
	height: 12px;
	margin-left: 1px;
	margin-right: 1px;

	border-radius: 3px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2e2716 ), to( #020302 ) );
	border: 2px solid #ffffff05;
}

.active_level.LevelPanel
{
	background-color: #ceaa31;
	border: 2px solid #734918;
}

#StatusBarsContainer {
	flow-children: right;
	/*background-color: #ceaa31;*/
	height: 60px;
	width: 842.5px;
	/*width: 200px;*/
	/*height: 300px;*/
}

#PlayerName {
	height: 45%;
	font-size: 14px;
	text-transform: uppercase;
	/*letter-spacing: 1px;*/
	padding: 6px 6px;
	vertical-align: bottom;
	width: 100%;
	text-align: center;
	background-color: #000000f5;
	font-family: Goudy Trajan;
	color: #b0b0b0;
}