.CPConditionsWindow {
	position: 0px 15% 0px;
	width: 300px;
	
	flow-children: down;
	vertical-align: top;
	horizontal-align: right;

	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;

	padding: 15px;
}

.CPConditionsWindow.Visible {
	opacity: 1;
}

.Header {
	font-family: Goudy Trajan;
	font-size: 22px;
	
	color: #fefefe;
	text-shadow: 1px 1px 4px 1 #000000;

	width: 100%;
	height: 34px;
	margin: 8px;

	text-align: center;
	border-bottom: 1px solid #808080;
}

#CPConditionsContainer {
	flow-children: down;
	width: 100%;
}

.CPConditionContainer {
	width: 100%;
}

.CPConditionText {
	font-family: Radiance;
	font-size: 18px;

	width: 100%;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 4px;
	line-height: 18px;

	text-align: left;

	font-weight: bold;
	color: #e0e0e0;
	text-shadow: 1px 1px 2px 2.0 #000000;
	vertical-align: middle;
	height: 70px;
}

#BravePoints {
	font-family: Radiance;
	font-size: 22px;

	width: 100%;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 4px;
	line-height: 18px;

	text-align: left;

	font-weight: bold;
	color: #e0e0e0;
	text-shadow: 1px 1px 2px 2.0 #000000;
	vertical-align: middle;
	height: 70px;
}