.InfoTextContainer {
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: visible;
	/*flow-children: right;*/
	transition-property: transform;
    transition-duration: 0.5s;
}

.InfoTextContainer.Hidden {
	transform: translate3d(-420px, 0px, 0px);
}

.InfoTextWindow {
	width: 400px;
	
	flow-children: down;
	vertical-align: top;
	horizontal-align: left;

	margin-top: 60px;
	margin-left: 0px;

	transition-property: opacity, transform;
    transition-duration: 0.25s;
	opacity: 1;
}

.InfoTextContainer .InfoTextWindow.Visible {
	transform: translate3d(20px, 0px, 0px);
	opacity: 1;
}

.InfoTextWindow #OKButton {
	horizontal-align: center;
	margin: 8px;
	/*height: 32px;*/
	visibility: visible;
}
.InfoTextWindow #ReadyText {
	horizontal-align: center;
	margin: 8px;
	height: 32px;
	color: #00ff00;
	visibility: collapse;
}

.InfoTextWindow.ReadiedUp #OKButton {
	visibility: collapse;
}
.InfoTextWindow.ReadiedUp #ReadyText {
	visibility: visible;
}
.InfoTextWindow.GameStarted #ReadyText, .InfoTextWindow.GameStarted #OKButton {
	visibility: collapse;
}

.InfoTextWindow #Header, .InfoTextWindow .SubHeader, .InfoTextWindow .TrailspediaHeader {
	font-family: Goudy Trajan;
	font-size: 22px;
	
	color: #fefefe;
	text-shadow: 1px 1px 4px 1 #000000;

	width: 100%;
	height: 34px;
	margin: 8px;

	text-align: center;
	border-bottom: 1px solid #808080;
}


.InfoTextWindow .SubHeader {
	font-size: 16px;
	height: 22px;
	color: #d0d0d0;
}

.InfoTextWindow .Text, .InfoTextWindow .TrailspediaText {
	font-family: Radiance;
	font-size: 16px;
	color: #b0b0b0;

	width: 100%;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 16px;
	line-height: 18px;

	text-align: center;
}

.InfoTextContainer.TrailspediaActive .Text, .InfoTextContainer.TrailspediaActive .SubHeader, .InfoTextContainer.TrailspediaActive #Header {
	visibility: collapse;
}

.InfoTextContainer .TrailspediaText {
	text-align: left;
	font-size: 14px;
}

.InfoTextContainer .TrailspediaText, .InfoTextContainer .TrailspediaHeader {
	visibility: collapse;
}

.InfoTextContainer.TrailspediaActive .TrailspediaText, .InfoTextContainer.TrailspediaActive .TrailspediaHeader {
	visibility: visible;
}

.InfoTextContainer #SlideButton {
	horizontal-align: left;
	vertical-align: center;
	height: 100px;
	width: 30px;
	opacity: 1;
	visibility: visible;
	margin-bottom: 500px;
	transform: translate3d(20px, 0px, 0px);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #32393e ), to( #151515 ) );
	box-shadow: #000000df -4px -4px 2px 8px;
	border-top: 1px solid #ffffff10;
	/*border-left: 1px solid #ffffff06;*/
	border-right: 1px solid #ffffff06;
	border-bottom: 1px solid #101010;
	position: 400px 0px 0px;
}

.InfoTextContainer #SlideButtonText {
	font-family: Goudy Trajan;
	font-size: 22px;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
}

.InfoTextContainer #PageToggleButton {
	horizontal-align: left;
	vertical-align: top;
	position: 290px 75px 0px;
	height: 25px;
	width: 100px;
	opacity: 1;
	visibility: visible;
	transform: translate3d(20px, 0px, 0px);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #32393e ), to( #151515 ) );
	/*box-shadow: #000000df -4px -4px 2px 8px;*/
	border-top: 1px solid #ffffff10;
	border-left: 1px solid #ffffff06;
	border-right: 1px solid #ffffff06;
	border-bottom: 1px solid #101010;
}

.InfoTextContainer #PageToggleText {
	font-family: Goudy Trajan;
	font-size: 12px;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
}