.InfoTextWindow {
	width: 400px;
	
	flow-children: down;
	vertical-align: top;
	horizontal-align: left;

	margin-top: 60px;
	margin-left: 0px;

	transition-property: opacity, transform;
    transition-duration: 0.25s;
	opacity: 0;
}

.InfoTextWindow.Visible {
	transform: translate3d(20px, 0px, 0px);
	opacity: 1;
}

.InfoTextWindow #OKButton {
	horizontal-align: center;
	margin: 8px;
	/*height: 32px;*/
	visibility: visible;
}
.InfoTextWindow #ReadyText {
	horizontal-align: center;
	margin: 8px;
	height: 32px;
	color: #00ff00;
	visibility: collapse;
}

.InfoTextWindow.ReadiedUp #OKButton {
	visibility: collapse;
}
.InfoTextWindow.ReadiedUp #ReadyText {
	visibility: visible;
}

.InfoTextWindow #Header, .InfoTextWindow .SubHeader {
	font-family: Goudy Trajan;
	font-size: 22px;
	
	color: #fefefe;
	text-shadow: 1px 1px 4px 1 #000000;

	width: 100%;
	height: 34px;
	margin: 8px;

	text-align: center;
	border-bottom: 1px solid #808080;
}


.InfoTextWindow .SubHeader {
	font-size: 16px;
	height: 22px;
	color: #d0d0d0;
}

.InfoTextWindow .Text, .InfoTextWindow .TipsText {
	font-family: Radiance;
	font-size: 16px;
	color: #b0b0b0;

	width: 100%;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 16px;
	line-height: 18px;

	text-align: center;
}

.InfoTextWindow .TipsText {
	text-align: left;
}