.MusicControlWindow {
	width: 100%;
	height: 100%;

	/*flow-children: down;*/
	vertical-align: top;
	horizontal-align: left;

	opacity: 0;
}

.MusicControlWindow.Visible{
	transform: translate3d(20px, 0px, 0px);
	opacity: 1;
}

.MusicControlWindow #MusicControlButton {
	position: 88% 86.5% 0px;
	width: 150px;
	height: 40px;
	/*horizontal-align: center;*/
	visibility: visible;
}

.MusicControlWindow #MusicControlButtonText {
	/*font-family: Radiance;*/
	font-size: 16px;
	width: 150px;
	height: 40px;
	/*horizontal-align: center;*/
	visibility: visible;
}