.ActionBarContainer.SelectedUnitDisplay
{
	width: 100%;
	/*height: 100%;*/
	position: 45% 5% 0px;
	flow-children: down;
	horizontal-align: right;
	vertical-align: top;
}

.SelectedUnitDisplay #PlayerName {
	background-color: #ffffffff;
	visibility: collapse;
}

.ActionBarContainer.NonSelf {
	pre-transform-scale2d: 0.75;
}

#StatusBar {
	width: 54.2%;
}
.ActionBarContainer.NonSelf #Hotkey {
	visibility: collapse;
}

.ActionBarContainer.SelectedUnitDisplay.Disabled {
	opacity: 0;
}