.StatusBarContainer {
	width: 100%;
	height: 100%;

	/*margin-top: 60px;*/
	/*margin-left: 0px;*/
	opacity: 1;
	/*padding: 15px;*/
	visibility: visible;
}

.StatusBarBackground {
	opacity: 0;
	visibility: visible;
	vertical-align: top;
	horizontal-align: left;
	width: 130px;
	height: 15px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #32393e ), to( #151515 ) );
	box-shadow: #000000df -4px -4px 2px 8px;
	border-top: 1px solid #ffffff10;
	border-left: 1px solid #ffffff06;
	border-right: 1px solid #ffffff06;
	border-bottom: 1px solid #101010;

	transition-property: opacity, transform;
    transition-duration: 0.25s;
}

.StatusBarBackground.Visible {
	opacity: 1;
}

.CPBar {
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #B7C54A ), to( #FEFDE1 ) );
	opacity: 1;
	visibility: visible;
}

.OverfullCPBar {
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #44BA66 ), to( #CEFEEE ) );
	opacity: 1;
	visibility: visible;
}

.UnbalanceBar {
	width: 0%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #FF9933 ), to( #FFB775 ) );
	opacity: 1;
	visibility: visible;
}