.TurnBonusDisplayWindow {
	position: 270px 65% 0px;
	width: 270px;
	height: 125px;
	
	flow-children: down;
	vertical-align: top;
	horizontal-align: right;

	opacity: 1;
	transition-property: transform;
	transition-duration: 0.5s;
}

.TurnBonusDisplayWindow.Visible {
	/*opacity: 1;*/
	transform: translate3d(-270px, 0px, 0px);
}

.TurnBonusDisplayWindow .SubHeader {
	font-family: Goudy Trajan;
	font-size: 18px;
	
	/*color: #fefefe;*/
	color: #d0d0d0;
	text-shadow: 1px 1px 4px 1 #000000;

	width: 100%;
	horizontal-align: center;
	/*height: 22px;*/
	/*margin: 8px;*/

	text-align: center;
	border-bottom: 1px solid #80808040;
}

.TurnBonusDisplayWindow .Text {
	font-family: Radiance;
	font-size: 17px;
	color: #ffffff;

	width: 100%;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 4px;
	line-height: 18px;

	text-align: center;
}