.ResourceBarContainer {
	width: 100%;
	height: 60px;

	/*margin-top: 60px;*/
	/*margin-left: 0px;*/
	opacity: 1;
	/*padding: 15px;*/
	visibility: visible;
	flow-children: down;
	transition-property: width;
	transition-duration: 0.5s;
}

.ResourceBarContainer.Upper {
	width: 33%;
	brightness: 0.75;
	saturation: 0.75;
}

.ResourceBarContainer.Lower {
	width: 67%;
}

.ResourceBarContainer.Lower {
	border-top: 3px solid #00000080;
	border-right: 1.5px solid #00000080;
}

.ResourceBarContainer.Upper {
	border-left: 1.5px solid #00000080;
	border-bottom: 3px solid #00000080;
}

.ResourceBarBackground {
	opacity: 1;
	visibility: visible;
	vertical-align: top;
	horizontal-align: left;
	width: 100%;
	height: 15px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #32393e ), to( #151515 ) );
	/*box-shadow: #000000df -4px -4px 2px 8px;*/
	border-top: 1px solid #000000ff;
	border-left: 1px solid #000000ff;
	border-right: 1px solid #000000ff;
	border-bottom: 1px solid #000000ff;
}

.ResourceBar {
	width: 0%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #FF9933 ), to( #FFB775 ) );
	vertical-align: bottom;
}

.ResourceBar.CPBar {
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #B7C54A ), to( #FEFDE1 ) );
}

.ResourceBar.OverfullCPBar {
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #44BA66 ), to( #CEFEEE ) );
}

#HealthBar.ResourceBar  {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5FA35F ), to( #0B5709 ) );
}

#ManaBar.ResourceBar  {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5E82AF ), to( #275088 ) );
}

.Text
{
	text-shadow: 0px 0px 6px 6 #000000;
	/*margin: 2px;*/
	vertical-align: center;
	horizontal-align: center;
	font-size: 12px;
	font-family: Goudy Trajan Medium;
	color: white;
}